/* Chewy (Regular 400) */
@import url("https://fonts.googleapis.com/css2?family=Chewy");
/* Ubuntu (Light 300 / Regular 400 / Medium 500 / Bold 700)*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700");

:root {
  --azul-claro: #8ecae6;
  --azul: #219ebc;
  --azul-escuro: #023047;
  --amarelo: #ffb703;
  --laranja: #fb8500;
  --Chewy: "Chewy", cursive;
  --Ubuntu: "Ubuntu", sans-serif;
}

.fundoBranco {
  background: white;
}

.fundoAzulClaro {
  background: var(--azul-claro);
}

.fundoAzul {
  background: var(--azul);
}

.fundoAzulEscuro {
  background: var(--azul-escuro);
}

.fundoAmarelo {
  background: var(--amarelo);
}

.fundoLaranja {
  background: var(--laranja);
}

.corAzulClaro {
  color: var(--azul-claro);
}

.corAzul {
  color: var(--azul);
}

.corAzulEscuro {
  color: var(--azul-escuro);
}

.corAmarelo {
  color: var(--amarelo);
}

.corLaranja {
  color: var(--laranja);
}

.fonteChewy {
  font-family: var(--Chewy);
}

.fonteUbuntu {
  font-family: var(--Ubuntu);
}

.section {
  border-radius: 0 0 45px 45px;
  padding-bottom: 2rem;
}

main.corAzulEscuro {
  min-height: 100vh;
}

img {
  padding-top: 0.5rem;
}

p img {
  padding: 0;
}

button {
  outline: none;
  border: none;
  border-radius: 22px;
  background: var(--azul-escuro);
  color: var(--amarelo);
  font-family: var(--Ubuntu);
  font-size: 22px;
  width: 188px;
  height: 56px;
  margin: 1.2rem 0;
}

a {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
}

hr {
  width: 100%;
  color: #707070;
  margin: 0;
}

form fieldset {
  width: 100%;
}

form .form-control {
  background: var(--amarelo);
  font-family: var(--Ubuntu);
  font-size: 18px;
  border: none;
}

form .form-control::placeholder {
  color: var(--azul-escuro);
}

form .form-control:focus {
  filter: drop-shadow(0 0 0.75rem var(--amarelo));
}

form input[type="radio"]:nth-of-type(n) {
  margin-left: 20px;
}

#lista_atividades p {
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 20px;
}

/*MENU*/
.modal {
  width: 200px;
}

.modal-content {
  width: 200px;
}

.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.164) !important;
}

.list-group-item {
  font-family: var(--Ubuntu);
}

.profile {
  background: var(--azul-escuro);
  border-radius: 10px;
  width: 120px;
}
