@import "./global.css";

main {
  min-height: 100vh;
  background: white;
  color: var(--azul-escuro);
}

main h1 {
  font-family: var(--Chewy);
  text-align: center;
}

main section {
  font-family: var(--Ubuntu);
  font-size: 22px;
}

main section:first-of-type {
  background: var(--amarelo);
  border-radius: 0 0 45px 45px;
  padding-bottom: 2rem;
}

main img {
  padding-top: 0.5rem;
}

main section button {
  width: 188px;
  height: 56px;
  margin: 1.2rem 0;
}

main section p {
  width: 80%;
  font-size: 21px;
  line-height: 30px;
}

@media (min-width: 900px) {
  main h1 {
    margin-bottom: 2rem;
  }

  main section:first-of-type {
    padding-bottom: 4rem;
  }

  main section p {
    font-size: 26px;
    line-height: 40px;
  }
}
