@import "./global.css";

main {
  min-height: 100vh;
  background: var(--amarelo);
  color: var(--azul-escuro);
}

main section:first-of-type {
  background: white;
  border-radius: 0 0 20px 20px;
  padding-bottom: 2rem;
}

section form {
  width: 80%;
  margin: 1rem 0;
}

section form hr {
  width: 100%;
  color: #707070;
  margin: 0;
}

section form fieldset {
  width: 100%;
}

section form .form-control {
  background: var(--amarelo);
  font-family: var(--Ubuntu);
  font-size: 18px;
  border: none;
}

section form .form-control::placeholder {
  color: var(--azul-escuro);
}

section form .form-control:focus {
  filter: drop-shadow(0 0 0.75rem var(--amarelo));
}

section form .row .col:nth-of-type(1) {
  padding-left: 0;
}

section form .row .col:nth-of-type(2) {
  padding-right: 0;
}

section form label,
section form p {
  font-family: var(--Ubuntu);
  font-size: 18px;
  color: var(--azul-escuro);
}

section form input[type="radio"]:last-of-type {
  margin-left: 20px;
}

section button {
  border-radius: 22px;
  margin: 2rem 0;
  padding: 10px 0;
}

@media (min-width: 900px) {
  main h1 img {
    height: 4rem;
  }

  section form {
    width: 60%;
  }
}

@media (min-width: 1100px) {
  section form {
    width: 50%;
  }
}
